@page
@model MealsPlanning.Areas.Ingredients.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Supprimer</h1>

<h3>Etes vous sûr de vouloir supprimer cet ingrédient ?</h3>

<p class="text-danger">@Model.ErrorMessage</p>

<div>
    <h4>Ingredient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient.Name)
        </dt>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Ingredient.Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-page="./Index">Retour à la liste des ingrédients</a>
    </form>
</div>