@page
@model MealsPlanning.Areas.Ingredients.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editer</h1>

<h4>Ingrédient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="@Model.Ingredient.Name" class="control-label"></label>
                <input asp-for="@Model.Ingredient.Name" class="form-control" />
                <span asp-validation-for="@Model.Ingredient.Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Retour à la liste des ingrédients</a>
</div>
